:root {
  /* root color variables */
  --midnight-blue: #0c2340;
  --navy-blue: #143865;
  --nd-footer-blue: #143865;
  --metallic-gold: #ae9142;
  --bright-yellow: #ffcf01;
  --gold: #d39f10;
  --bright-blue: #007bff;
  --nd-dark-blue: #0c223f;
  --nd-blue: #0d2b58;
  --alice-blue: aliceblue;
  --white: white;
  --body-font: #666;
  --silver: silver;
  --graphite: #506578;
  --trench-blue: #406885;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", Helvetica, Arial, sans-serif;
  color: var(--graphite);
  font-size: 1.1rem;
}

h1 {
  color: var(--midnight-blue);
}

.card-header h4 button {
  font-size: 1.25rem !important;
}

.letter-spaced {
  letter-spacing: 2px;
}

.slab {
  font-family: "Golos Text", sans-serif;
}

.golden-top {
  border-top: 5px solid var(--metallic-gold);
}

/* Header ------------------------------------------ */
.home-link .curate-nd-logo {
  width: 250px;
}

/* Colors ------------------------------------------ */
.midnight-blue {
  color: var(--midnight-blue) !important;
}

.trench-blue {
  color: var(--trench-blue) !important;
}

.navy-blue {
  color: var(--navy-blue);
}

.gold {
  color: var(--gold);
}

.white {
  fill: #fff;
}

.yellow {
  fill: #dcb438;
  stroke-width: 0.75;
}

.silver {
  color: var(--silver);
}

.metallic-gold {
  color: var(--metallic-gold);
}

.bright-blue {
  color: var(--bright-blue);
}

/* Backgrounds ----------------------------------- */
.bg-midnight-blue {
  background-color: var(--midnight-blue) !important;
}

.bg-trench-blue {
  background-color: var(--trench-blue) !important;
}

.bg-alice-blue {
  background-color: var(--alice-blue) !important;
}

.bg-nd-footer-blue {
  background: var(--nd-footer-blue);
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}

.bg-gold {
  background-color: var(--nd-gold);
}

.bg-light {
  background: #f6f9fc !important;
}

.bg-gold {
  background: var(--gold);
}

/* Utility Classes ------------------------------- */
.display-5 {
  font-size: 2.75rem;
}

.display-6 {
  font-size: 2rem;
}

.border-gold {
  border: 1px solid var(--gold);
}

.small-caps {
  font-variant: small-caps;
  font-weight: 400;
}

.badge-gold {
  background: var(--gold);
}

.inherit-size {
  font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.lead {
  font-size: 1.5rem;
}

.opacity-50 {
  opacity: 0.5;
}

/* Remove outlines ------------------------------ */

button:focus,
.btn:focus,
a:focus,
.form-control:focus {
  outline: none;
  box-shadow: none;
}


/* Scroll to top button ------------------------- */
#topper {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--bright-blue);
  color: var(--white) !important;
  padding: 8px 4px 10px 4px;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  cursor: pointer !important;
}

#topper:hover {
  background-color: var(--bright-blue);
  color: var(--white);
}

/* policies page ------------------------------------ */
#policies-nav .nav-link:not(.active) {
  background-color: #f6f9fc !important;
}

.input-group-append,
.input-group-prepend {
  background: transparent !important;
}

/* Rotate FAQ icons --------------------------------- */
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-property: all;
  transition-duration: 0.2s;
}

/* Get started buttons ------------------------------- */
.get-started:hover {
  background: var(--bright-blue);
  color: white !important;
  border: 1px solid var(--bright-blue);
}

/* Popovers --------------------------------------------- */
.popover {
  background: ghostwhite;
  font-size: 1.1rem;
  color: var(--graphite) !important;
  max-width: 375px !important;
}

.bs-popover-auto[x-placement^="top"] > .arrow::after,
.bs-popover-top > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: ghostwhite;
}

/* Changing the header buttons on mobile for small screens -------------------- */

@media screen and (max-width: 768px) {
  #login-button, #dropdown-selector {
    background: transparent !important;
  }

  #login-button a, #dropdown-selector a {
    color: var(--graphite) !important;
  }

}
