:root {
  /* root color variables */
  --midnight-blue: #0c2340;
  --navy-blue: #143865;
  --nd-footer-blue: #143865;
  --metallic-gold: #ae9142;
  --bright-yellow: #ffcf01;
  --bright-blue: #007bff;
  --nd-dark-blue: #0c223f;
  --nd-blue: #0d2b58;
  --light-grey-body: #fafafa;
  --ghost-white: #f5f5fa;
  --alice-blue: aliceblue;
  --footer-slate: #e6e8f1;
  --white: white;
  --body-font: #666;
  --slate-gray: lightslategray;
  --silver: silver;
  --graphite: #506578;
  --trench-blue: #406885;
  --light-blue: #d0e9fe;
  --alice-blue: aliceblue;
  --chocolate: chocolate;
  --page-bg: #f0f3f6;
  --page-bg: #f6f9fc;
  --ghostwhite: ghostwhite;
  --unemployed-red: #db4c3f;
  --employee-green: mediumseagreen;
  --manager-purple: mediumorchid;
  --owner-blue: dodgerblue;
  --skyscraper-green: #d3d9d7;
  --house-green: green;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", Helvetica, Arial, sans-serif;
  color: var(--graphite);
  font-size: 1.1rem;
}

.golden-top {
  border-top: 5px solid var(--metallic-gold);
}

.display-5 {
  font-size: 2.75;
}

/* Header ------------------------------------------ */
.home-link .curate-nd-logo {
  width: 250px;
}

/* Colors ------------------------------------------ */
.midnight-blue {
  color: var(--midnight-blue);
}

.navy-blue {
  color: var(--navy-blue);
}

.gold {
  color: var(--gold);
}

.white {
  fill: #fff;
}

.yellow {
  fill: #dcb438;
  stroke-width: 0.75;
}

/* Backgrounds ----------------------------------- */
/* ND background colors ------------------- */
.bg-midnight-blue {
  background-color: var(--midnight-blue) !important;
}

.bg-nd-footer-blue {
  background: var(--nd-footer-blue);
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}

.bg-gold {
  background-color: var(--nd-gold);
}
